.editor {
  h3 {
    color: $hoverColor;
    font-size: 18px;
    text-align: center;
  }

  * {
    text-align: justify;
  }

  .contact-content {
    >* {
      text-align: center;
    }
  }

  .contact-label {
    font-weight: bold;
    color: $textBoldColor;
    padding-top: 5px;
    margin-bottom: 10px;
  }

  .contact-detail {
    margin-top: 0;
    color: $hoverColor;
  }
}

@media #{$desktop_large} {
  .editor {

  }
}

@media #{$desktop} {
  .editor {
    .contact-text {
      font-size: 28px;
    }

    .contact-label {
      font-size: 18px;
    }

    .contact-detail {
      font-size: 38px;
      line-height: 48px;
    }
  }
}

@media #{$tablet} {
  .editor {
    .contact-text {
      font-size: 25px;
    }

    .contact-label {
      font-size: 16px;
    }

    .contact-detail {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

@media #{$mobile} {
  .editor {
    .contact-text {
      font-size: 15px;
    }

    .contact-label {
      font-size: 11px;
    }

    .contact-detail {
      font-size: 16px;
      line-height: 20px;
    }
  }
}