.view-more {
  border: 1px solid $white;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  @include selectable(none);
  @include transition(background 0.3s);

  &:hover {
    background: $white;

    >span {
      color: $hoverColor;
    }
  }
}

@media #{$tablet} {
  .view-more {
    font-size: $baseFontSize;
  }
}

@media #{$mobile} {
  .view-more {
    font-size: $textFontSize;
  }
}