* {
  color: $white;
}

.clearfix {
  @include clearfix;
}

.flex {
  @include flex;
}

.table-center {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;

  >* {
    display: table-cell;
    vertical-align: middle;
  }
}

.mask {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  z-index: 2;
}

.content {
  text-align: center;

  h1 {
    text-transform: uppercase;
    font-size: 70px;
  }
}

.container {
  padding: 5% 10%;
}

@media #{$tablet} {
  .content {
    h1 {
      font-size: 50px;
    }
  }
}

@media #{$mobile} {
  .content {
    h1 {
      font-size: 28px;
    }
  }
}