#section1 {
  background: url("../img/content/home/bg1.jpg") no-repeat;
}

#section2 {
  background: url("../img/content/home/bg2.jpg") no-repeat;
}

#section3 {
  background: url("../img/content/home/bg3.jpg") no-repeat;
}

#section4 {
  background: url("../img/content/home/bg4.jpg") no-repeat;
}