.section {
  background-color: $white;
  z-index: 1;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  @include bg-size(cover !important);

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: 1;
  }
}

