.page {
  >section:not(:first-child) {
    z-index: 3;
  }
}

.page-content {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.main-section {
  .iScrollVerticalScrollbar {
    display: none;
  }
}

.instagram {
  >h2 {
    display: none;
  }

  >ul {
    @include flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    >li {
      width: 25%;
    }
  }
}